@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Cabin|Lexend+Deca&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Lexend Deca', sans-serif;
$family-secondary: 'Cabin', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$message-background-color: white;
$panel-heading-background-color: white;
$panel-heading-radius: 6px;

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

// .image {
//     display: flex;

//     &.is-right {
//         justify-content: flex-end;
//     }
// }

.is-horizontal-center {
    align-content: center;
}

.is-horizontal-center .image {
    margin: auto;
}

.is-vertical {
    flex-direction: column;
}

img {
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .4));
}

.panel {
    box-shadow: $box-shadow;
    border-radius: $panel-heading-radius;
}

.panel-block {
    border-left: none;
    border-right: none;

    &:last-child {
        border-bottom-left-radius: $panel-heading-radius;
        border-bottom-right-radius: $panel-heading-radius;
        border-bottom: none;
    }
}

.panel-heading {
    border-left: none;
    border-right: none;

    &:first-child {
        border-top: none;
    }
}

// .panel-block.is-team-info {
//     justify-content: space-between;
//     background-color: white;
// }
